@using Microsoft.AspNetCore.SignalR.Client
@using HeistBox.Data
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Player</PageTitle>
@if (gameState == null)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="userInput" />
        </label>
    </div>
    <div class="form-group">
        <label>
            Game id:
            <input @bind="gameId" size="4" />
        </label>
    </div>
    <button @onclick="Join" disabled="@(!IsConnected)">Join</button>
}
else if (gameState == GameState.PlayerJoin)
{
    <p>Wait for host to start the heist</p>
}
else if (gameState == GameState.AnswerSubmission)
{
    <h1>Heisting: @location</h1>
    <h1></h1>
    <input @bind="answer.answer" />
}
else
{
    <h1>Heisting: @location</h1>
}




@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? userInput;
    private string? gameId;
    private PlayerData? user;
    private bool joined = false;
    private bool started = false;
    private string location = "";
    private Response answer = new Response();
    private GameState? gameState = null;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<GameData>("PlayerJoined", (gameResponse) =>
        {
            if (gameResponse.id.ToLower().Trim() == gameId.ToLower().Trim() && gameResponse.players.Any(p => p.Name == userInput))
            {
                gameState = GameState.PlayerJoin;
                user = gameResponse.players.FirstOrDefault(p => p.Name == userInput);
                StateHasChanged();
            }
        });

        hubConnection.On<GameData>("GameStarted", (gameResponse) =>
        {
            if (gameResponse.id.ToLower().Trim() == gameId.ToLower().Trim())
            {
                gameState = GameState.AnswerSubmission;
                location = gameResponse.heistLocation;
                StateHasChanged();
            }
        });

        await hubConnection.StartAsync();
    }

    private async Task Join()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("JoinGame", userInput, gameId);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}